<!DOCTYPE html>
<html>
<head>
  <title>FeedTwitterBot</title>
  <%= stylesheet_link_tag    "feed_twitter_bot/application", media: "all" %>
  <%= javascript_include_tag "feed_twitter_bot/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
